# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
dist/
build/
.eggs/

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# Environment variables
# =========================
.env
.env.*
instance/

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Flask cache
# =========================
.flaskenv
